<div class="block-weather-notification">
    {{weathererror}}
</div>
<div class="weather-icon">
    <!--            assets/icons/unknown.png-->
    <img src="{{weathericon}}" alt="">
</div>
<div class="block-weather-temperature-value">
    <p>{{weathervalue}} °<span>C</span></p>
</div>
<div class="block-weather-temperature-description">
    <p>{{weatherdesc}}</p>
</div>
<div class="block-weather-location">
    <p>{{weatherlocation}}</p>
</div>
