<div id="block-weather-container">
    <div id="weather-container">
    </div>
    <div class="block-weather-refresh-cintainer">
        <i class="fa fa-refresh float-right block-weather-refresh"></i>
    </div>
</div>
